/* 
INFO
font-family: "Roboto", sans-serif;
COLORS: BLUE #4379F2 GREEN #41B06E
 */



 /* START NAVTOP */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
nav {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 3rem
}
h4 {
  display: inline;
  font-size: 1.2em;
}
nav a {
    text-decoration: none;
    color: white;
    margin-right: auto;
}
nav a:hover {
    h4 {
    color: #41B06E;
    }
}
nav ul {
  height: 60px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
li {
  list-style: none;
}
.active {
  text-decoration: underline;
  font-weight: 500;
  color: #41B06E;
}
nav ul li a:hover {
  color: #41B06E;
}
@keyframes rotateScale { 
  100% { 
    transform: rotate(360deg) scale(1); 
  } 
} 
@keyframes rotateScale1 { 
  100% { 
    transform: rotate(-360deg) scale(1); 
  } 
} 
li a div:hover {
  img {
  animation: rotateScale 1s linear; 
  }
}
li a div:not(:hover) {
  img {
  animation: rotateScale1 1s linear; 
  }
}
/* END NAVTOP */
/* START DISPLAY */
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#disp-cont {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0px;
  color: white;
  text-align: center;
  background-image: url(images/background.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite alternate;
}
h1 {
  font-size: 3em;
}
.blue-text {
  color: #4379F2;
}
#disp-cont p {
  font-size: 1.25em;
}
.brands {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px auto 0px auto;
}
.container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px;
  grid-template-areas:
  "ph1 tx1"
  "ph2 tx2";
  gap: 20px;
}
.ph1 {
  grid-area: ph1;
}
.ph2 {
  grid-area: ph2;
}
.tx1 {
  grid-area: tx1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tx2 {
  grid-area: tx2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* END DISPLAY */
/* FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:#373A40;
  color: white;
}
.footer ul {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.footer ul li a {
  color: white;
}
.footer ul li a:hover {
  color: #41B06E;
}
a {
  text-decoration: none;
}
button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
/* END FOOTER */


